
@model Menu



<div class="container" style="border-radius:10px; ">
    <div class="text">
       Menu form
    </div>
    <form asp-action="Create" asp-controller="Menus" method="Post">
        <div class="form-row">
            <div class="input-data">
                 
              
                <div class="underline"></div>
               <span>
                    @Html.DropDownList("ItemName",Html.GetEnumSelectList<ItemName>(),"--Choose item Of Menu---",new{
                    style="font-size:20px; width:60%; border-radius:10px; text-align:center;background-color:pink;font-weight:bold;"
                    })
              </span>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
                <input asp-for="SavingTime" type="time">
                <div class="underline"></div>
                <label asp-for="SavingTime"></label>
            </div>
        </div>
       
        
                <div class="form-row submit-btn">
                    <div class="input-data">
                        <div class="inner"></div>
                        <input type="submit" value="submit">
                    </div>
                </div>
        
    </form>
</div>

<link href="\css\form.css" rel="stylesheet" />

